/* Head Class Modifications */

.jumbotron {
    background-color: #7f462c !important;
    font-family: 'Open Sans', sans-serif;
    height: 210px !important;
    color: #ffffff;
}

h1 {
    font-size: 300%;
}

i {
    cursor: pointer;
}